
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Variant HTML Builder by Medium Rare</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="{{ asset('css/flexslider.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('css/line-icons.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('css/elegant-icons.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('css/lightbox.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('css/theme.css') }}" rel="stylesheet" type="text/css" media="all"/>
    <link href="{{ asset('css/custom.css') }}" rel="stylesheet" type="text/css" media="all"/>

    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'>
    <script src="{{ asset('js/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
</head>
<body>
<div class="loader">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<div class="nav-container">
    <nav class="centered-logo top-bar">
        <div class="container">



            <div class="row">
                <div class="col-sm-12 text-center">
                    <img class="logo logo-light" alt="Logo" src="{{ asset('bundles/framework/images/logo-light.png') }}">
                    <img class="logo logo-dark" alt="Logo" src="{{ asset('bundles/framework/images/logo-dark.png') }}">
                </div>
            </div>


            <div class="row nav-menu">

                <div class="col-sm-12 columns text-center">
                    <ul class="menu">
                        <li><a href="#">Home</a></li><li><a href="#">Why this logo</a></li>
                        <li class="has-dropdown"><a href="#">Labs</a>
                            <ul class="subnav">
                                <li><a href="#">Example</a></li>
                                <li><a href="#">Example</a></li>
                                <li><a href="#">Example</a></li>
                                <li><a href="#">Example</a></li>
                            </ul>
                        </li><li class="has-dropdown"><a href="#">Projects</a>
                            <ul class="subnav">
                                <li><a href="#">Example</a></li>
                                <li><a href="#">Example</a></li>
                                <li><a href="#">Example</a></li>
                                <li><a href="#">Example</a></li>
                            </ul>
                        </li>



                    </ul>

                </div>
            </div>

            <div class="mobile-toggle">
                <i class="icon icon_menu"></i>
            </div>

        </div>
        <div class="bottom-border"></div>
    </nav>
</div>

<div class="main-container">
    <header class="fullscreen-element no-pad centered-text">
        <div class="background-image-holder parallax-background overlay">
            <img class="background-image" alt="Background Image" src="{{ asset('img/hero8.jpg') }}">
        </div>

        <div class="container align-vertical">
            <div class="row">
                <div class="col-md-12 text-center">
                    <span class="text-white alt-font">Say Hello To Pivot</span>
                    <h1 class="text-white">The biggest, baddest new template on the block <br>has arrived, build yours now.</h1>
                    <p class="lead text-white">Tons of elements, Consistent style, Variant builder included.</p>
                    <a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
                    <a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
                </div>
            </div>
        </div>
    </header>

    <section class="video-inline">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h1 class="space-bottom-medium">Our adv. video will be here</h1>
                    <p class="lead space-bottom-medium">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="media-holder fullwidth-video">
                        <iframe width="100%" height="315" src="http://www.youtube.com/embed/SZEflIVnhH8?showinfo=0&amp;rel=0&amp;modestbranding=1" frameborder="0" allowfullscreen="">

                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="expanding-list">

        <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="{{ asset('img/hero22.jpg') }}">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>What are the benefits to join us</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                    <ul class="expanding-ul">
                        <li>
                            <div class="title">
                                <i class="icon icon-pencil"></i>
                                <span><strong>Bachelor of Design &amp; Communication</strong> RMIT University</span>
                            </div>

                            <div class="text-content">
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div class="title">
                                <i class="icon icon-briefcase"></i>
                                <span><strong>Junior Interaction Designer</strong> Corp &amp; Co.</span>
                            </div>

                            <div class="text-content">
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div class="title">
                                <i class="icon icon-briefcase"></i>
                                <span><strong>User Engagement Facilitator</strong> Leehan &amp; Tax</span>
                            </div>

                            <div class="text-content">
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                </p>
                            </div>
                        </li>

                        <li>
                            <div class="title">
                                <i class="icon icon-trophy"></i>
                                <span><strong>PhD. Contemporary Media</strong> University of Melbourne</span>
                            </div>

                            <div class="text-content">
                                <p>
                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="timeline-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h1>What will happen next</h1>
                    <p class="lead">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="timeline-event">
                        <div class="col-sm-6 col-md-push-6">
                            <h2>23rd April</h2>
                            <h5>The story begins</h5>
                        </div>

                        <div class="middle">
                            <i class="icon icon-telescope"></i>
                            <div class="vertical-line"></div>
                        </div>

                        <div class="col-sm-6 col-md-pull-6">
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.
                            </p>
                        </div>


                    </div>

                    <div class="timeline-event">
                        <div class="col-sm-6">
                            <h2>25th April</h2>
                            <h5>Our first major client</h5>
                        </div>

                        <div class="middle">
                            <i class="icon icon-streetsign"></i>
                            <div class="vertical-line"></div>
                        </div>

                        <div class="col-sm-6">
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.
                            </p>

                        </div>
                    </div>

                    <div class="timeline-event">
                        <div class="col-sm-6 col-md-push-6">
                            <h2>30th June</h2>
                            <h5>Agency Of The Year</h5>
                        </div>

                        <div class="middle">
                            <i class="icon icon-heart"></i>
                            <div class="vertical-line"></div>
                        </div>

                        <div class="col-sm-6 col-md-pull-6">
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.
                            </p>
                        </div>


                    </div>

                    <div class="timeline-event">
                        <div class="col-sm-6">
                            <h2>31st July</h2>
                            <h5>Global Domination</h5>
                        </div>

                        <div class="middle">
                            <i class="icon icon-global"></i>
                            <div class="vertical-line"></div>
                        </div>

                        <div class="col-sm-6">
                            <p>
                                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut.
                            </p>

                        </div>
                    </div>

                </div>
            </div>


        </div>
    </section>

    <section class="stat-counters duplicatable-content">

        <div class="background-image-holder parallax-background">
            <img class="background-image" alt="Background Image" src="{{ asset('img/blur2.jpg') }}">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                    <h1>More About Us</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="stat feature">
                        <div class="stat-bubble">
                            <span>25</span>
                        </div>
                        <h3>Completed Projects</h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="stat feature">
                        <div class="stat-bubble">
                            <span>86</span>
                        </div>
                        <h3>Satisfied Clients</h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="stat feature">
                        <div class="stat-bubble">
                            <span>15</span>
                        </div>
                        <h3>Job Offers</h3>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="stat feature">
                        <div class="stat-bubble">
                            <span>0</span>
                        </div>
                        <h3>Missed Deadlines</h3>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="no-pad-bottom no-pad-top projects-gallery">

        <div class="projects-wrapper clearfix">

            <div class="projects-container">

                <div class="col-md-4 col-sm-6 no-pad project print image-holder">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Background Image" src="{{ asset('img/project1.jpg') }}">
                    </div>
                    <div class="hover-state">
                        <div class="align-vertical">
                            <h3 class="text-white"><strong>Identity</strong> Mockup</h3>
                            <p class="text-white">
                                Showcase your new identity with<br>this sleek mockup.
                            </p>
                            <a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 no-pad project branding image-holder">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Background Image" src="{{ asset('img/project4.jpg') }}">
                    </div>
                    <div class="hover-state">
                        <div class="align-vertical">
                            <h3 class="text-white"><strong>Aurora</strong> Icon Kit</h3>
                            <p class="text-white">
                                A fresh and circular take on Apple's<br>iconic home screen.
                            </p>
                            <a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6 no-pad project print image-holder">
                    <div class="background-image-holder">
                        <img class="background-image" alt="Background Image" src="{{ asset('img/project6.jpg') }}">
                    </div>
                    <div class="hover-state">
                        <div class="align-vertical">
                            <h3 class="text-white"><strong>Sketchbook</strong> Logos</h3>
                            <p class="text-white">
                                Present your hand-drawn logos on this<br>realistic sketchbook mockup.
                            </p>
                            <a href="project-single.html" class="btn btn-primary btn-white">See Project</a>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </section>

    <section class="team-1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <h1>Leading Team will be here</h1>
                    <p class="lead">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2 col-sm-4">
                    <div class="team-1-member">
                        <img alt="Team Member" class="background-image" src="{{ asset('img/team-small-1.png') }} ">
                        <h5>Chip Mayer</h5>
                        <span>Founder &amp; CEO</span><br>
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="icon social_twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="icon social_facebook"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="icon social_dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4">
                    <div class="team-1-member">
                        <img alt="Team Member" class="background-image" src="{{ asset('img/team-small-2.png') }} ">
                        <h5>Carl Kennedy</h5>
                        <span>Founder &amp; COO</span><br>
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="icon social_twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="icon social_facebook"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="icon social_tumblr"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4">
                    <div class="team-1-member">
                        <img alt="Team Member" class="background-image" src="{{ asset('img/team-small-3.png') }} ">
                        <h5>Jen Forrest</h5>
                        <span>Lead Designer</span><br>
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="icon social_twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="icon social_facebook"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="icon social_instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4">
                    <div class="team-1-member">
                        <img alt="Team Member" class="background-image" src="{{ asset('img/team-small-4.png') }} ">
                        <h5>Claire Taurus</h5>
                        <span>Product Designer</span><br>
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="icon social_twitter"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="icon social_pinterest"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="icon social_instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4">
                    <div class="team-1-member">
                        <img alt="Team Member" class="background-image" src="{{ asset('img/team-small-5.png') }}">
                        <h5>Amy Banks</h5>
                        <span>Developer</span><br>
                        <ul class="social-icons">
                            <li>
                                <a href="#">
                                    <i class="icon social_googleplus"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="icon social_spotify"></i>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="icon social_linkedin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-2 col-sm-4">
                    <div class="team-1-member">
                        <a href="#"><img alt="Team Member" src="{{ asset('img/team-small-6.png') }} "></a>
                        <h5>We're Hiring!</h5>
                        <span>Apply Now</span>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section class="contact-photo">

        <div class="background-image-holder">
            <img class="background-image" alt="Background Image" src="{{ asset('img/hero4.jpg') }}">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                    <h1 class="text-white">Contact Us<br>
                        We'd love to hear from you
                    </h1>
                </div>
            </div>

            <div class="photo-form-wrapper clearfix">
                <form class="email-form">
                    <div class="row">
                        <div class="col-md-3 col-sm-4 col-sm-offset-2 col-md-offset-3">
                            <input class="form-name validate-required" type="text" placeholder="Your Name" name="name">
                        </div>

                        <div class="col-md-3 col-sm-4">
                            <input class="form-email validate-required validate-email" type="text" placeholder="Your Email" name="email">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-8 col-sm-offset-2 col-md-offset-3 text-center">
                            <input class="form-message validate-required" type="text" name="message" placeholder="Your Message">
                            <input type="submit" class="send-form btn-filled" value="Send Form">
                            <div class="form-success">
                                <span class="text-white">Message sent - Thanks for your enquiry</span>
                            </div>
                            <div class="form-error">
                                <span class="text-white">Please complete all fields correctly</span>
                            </div>
                        </div>
                    </div>
                </form>

            </div>



        </div>

    </section>
</div>

<div class="footer-container">

    <footer class="social bg-secondary-1">

        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1 class="text-white">Get In Touch</h1>
                    <a href="#" class="text-white"><strong>hello@mrare.co</strong></a><br>
                    <ul class="social-icons">
                        <li>
                            <a href="#">
                                <i class="icon social_twitter"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="icon social_facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="icon social_instagram"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="icon social_dribbble"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="icon social_tumblr"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="icon social_pinterest"></i>
                            </a>
                        </li>
                    </ul><br>
                    <span class="sub">© Copright 2014 <a href="#">Medium Rare</a> - All Rights Reserved</span>
                </div>
            </div>
        </div>

    </footer>
</div>

<script src="https://www.youtube.com/iframe_api"></script>
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/jquery.plugin.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/jquery.flexslider-min.js') }}"></script>
<script src="{{ asset('js/smooth-scroll.min.js') }}"></script>
<script src="{{ asset('js/skrollr.min.js') }}"></script>
<script src="{{ asset('js/spectragram.min.js') }}"></script>
<script src="{{ asset('js/scrollReveal.min.js') }}"></script>
<script src="{{ asset('js/isotope.min.js') }}"></script>
<script src="{{ asset('js/twitterFetcher_v10_min.js') }}"></script>
<script src="{{ asset('js/lightbox.min.js') }}"></script>
<script src="{{ asset('js/jquery.countdown.min.js') }}"></script>
<script src="{{ asset('js/scripts.js') }}"></script>
</body>
</html>
				